.benefits {
  background-color: $background-color;


  &__laptop {
    width: 100%;
    margin: 40px auto;
    background-color: $background-secondary-color;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  &__header {
    font-size: 3rem;
    @include raleway(400);
    line-height: 3.5rem;
    text-align: left;
    padding: 27px 22px 30px 22px;
    display: inline-block;
    text-wrap: normal;
  }

  &__text {
  font-size: 1.4rem;
  @include opensans(400);
  line-height: 1.9rem;
  text-align: left;
  padding: 0 0 30px 22px;
  }

  //&__underline {
  //  @media
  //  background-color: $background-secondary-color;
  //  height: 4px;
  //  width: 230px;
  //  }


  &__img {

    box-sizing: content-box;
    z-index: 1;
    position: relative;

    &--mac {
      width: 200px;
      height: auto;
      padding: 45px 0 0 0;
    }

    &--phone {
      width: 175px;
      height: auto;
      padding: 20px 0 0 0;
    }

  }
  
  &__illustration{
    position: relative;
  }

  &__shape {
    z-index: 0;
    position: absolute;
    box-sizing: content-box;


    &--square {
      transform: rotate(45deg);
      background-color: $accent-reddish-color;
      height: 130px;
      width: 130px;
      border-radius: 41px;
      top: 17px;
      right: -10px;
    }

    &--circle {
      background-color: $primary-color;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      top: 10px;

    }
  }


  &__phone {
    width: 100%;
    margin: 40px auto;
    background-color: $background-secondary-color;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

  &__brand {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    background-color: $background-secondary-color;
    border-radius: 5px;
}

  &__box {
    background-color: $accent-green-color;
    padding-right: 20px;
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }

  &__trumpet {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}