$primary-color: #08A6E4;

$accent-reddish-color: #FB3B64;
$accent-green-color: #55DFB4;

$background-color: #F7F7F7;
$background-secondary-color: #FFFFFF;

$font-primary-color: #000000;
$font-secondary-color: #A5A5A5;