* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: $font-primary-color;
}

body {
  background-color: $background-color;
}

.container {
  width: 1352px;
  margin: 0 auto;
    @media (max-width: 1352px){
      width: 100%;
      padding: 0 15px;
    }
}