.btn {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-decoration: none;
  border-radius: 23px;
  padding: 16px 57px;
  display: block;

  &--main {
    border-radius: 40px;
    box-shadow: #07ACE629 5px 10px 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: $primary-color;
    color: #FFFFFF;
    padding: 22px 80px;
  }

  &__large {
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 40px;
    padding: 22px 92px;
    box-shadow: #07ACE629 5px 10px 14px;
  }

  &__submit {
    padding: 20px 97px;
    box-shadow: #07ACE629 5px 10px 14px;
  }
}

.header__logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.7rem;
  color: #08A6E4;
  display: block;
}